body{
  margin: 0;
  overflow: hidden;
}

h1{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100px;
  right: 60px;
  font-size: 78px;
}

.domain{
  stroke-width: 4px;
}

.tick line{
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 4px;
}

#text{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#values{
  position: absolute;
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  bottom: 50px;
  margin-left: 30px;
}

#values li{
  display: inline;
  margin-right: 20%;
  background-color: rgba(255, 255, 255, .1);
  padding: 7px;
  padding-right: 25px;
}

#values li:last-child{
  margin-right: 0;
}
