<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="theme-color" content="#607D8B">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/static/css/styles.css"></link>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <title>Rosetta Home SSID Credentials</title>
  </head>
  <body onload="" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h4>Enter SSID and the network's password and hit 'Connect'.</h4>
        <h5>Networks</h5>
        <button type="button" class="list-group-item">
          <p class="ssid">Network Credentials</p>
          <form class="psk" id="network" method="POST" action="/connect_network">
            <input name="ssid" type="text" value="" placeholder="SSID" />
            <input name="psk" type="password" placeholder="SSID Password" />
            <input type="submit" value="Connect" />
          </form>
        </button>
      </div>
    </div>
  </body>
</html>
